


@{
    ViewData["Title"] = "Index";
}

<h1>Home Controller - Index</h1>

<a asp-controller="User" asp-action="Index">Go to User Controller</a>
<br />
<a asp-controller="Employee" asp-action="Index">Go to Employee Controller</a>
<br />
<a asp-controller="Home" asp-action="DateTimeTest">Go to DateTimeTest View</a>