@model WmDailyWaterLevelAndissueVM
@{
    ViewData["Title"] = "Create";
}

<br />

<h3 class="text-info">Updating Water level and Water Issue - Muruthawela Tank</h3>

<br />
<br />

<div>


    <form id="myForm">
        
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="WaterIssuedDurationFromDateWithTime" class="form-label">Water Issue Duration From</label>
            </div>
            <div class="col-md-3">
                <input asp-for="WaterIssuedDurationFromDateWithTime" class="form-control" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="WaterIssuedDurationToDateWithTime" class="form-label">Water Issue Duration To</label>
            </div>
            <div class="col-md-3">
                <input asp-for="WaterIssuedDurationToDateWithTime" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="WarterLevelAtSluice" class="form-label">WarterLevelAtSluice</label>
            </div>
            <div class="col-md-3">
                <input asp-for="WarterLevelAtSluice" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="GateOpenedSize" class="form-label">GateOpenedSize</label>
            </div>
            <div class="col-md-3">
                <input asp-for="GateOpenedSize" class="form-control" />
            </div>
            <a href="#" class="btn btn-primary" id="btnAddToList">Update</a>
        </div>        

    </form>


    <div id="tblUpdatedRecord">

    </div>




</div>



<script>
    $(document).ready(function () {


        $("#WarterLevelAtSluice").val('');
        $("#GateOpenedSize").val('');

        $("#btnAddToList").click(function () {

            var myFormData = $("#myForm").serialize();

            $.ajax({

                method: "POST",
                url: "/WaterIssue/Create",
                data: myFormData,
                success: function (response) {
                    //console.log(response);    
                    $("#tblUpdatedRecord").html(response);
                    alert('WaterIssue Record Updated successfully..');
                }
            })

        })




    })
</script>