@model IEnumerable<VehicleModel>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">All Models with Makes</h2>
    </div>


    <div class="col-12">
        <table class="table table-striped border">
            <tr class="table-info">
                <th>Model</th>
                <th>Make</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Make.Name</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>

                </tr>
            }
        </table>
    </div>
</div>