<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />   
    <script src="~/lib/jquery/jquery.min.js"></script>


    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

    @*<link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
        <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>*@

</head>
<body>

    @*<nav class="navbar navbar-expand-md navbar-light bg-light">*@

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Irrigation Web System</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">

                @*<a href="/Make/Bikes" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link">Profile</a>*@


                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">HR Managemet</a>

                    <div class="dropdown-menu">
                        <a asp-controller="Employee" asp-action="Index" class="dropdown-item">Employee Informations</a>                        
                        <a asp-controller="Leave" asp-action="Index" class="dropdown-item">Search Employee Leaves</a>
                        <a asp-controller="Leave" asp-action="Create" class="dropdown-item">New Employee Leave</a>
                    </div>
                </div>



                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Water Management</a>

                    <div class="dropdown-menu">
                        <a asp-controller="WaterIssue" asp-action="Create" class="dropdown-item">Update a WaterIssue</a>
                        <a asp-controller="WaterIssue" asp-action="GetWaterIssuesForPeriod" class="dropdown-item">Search Water issue for a period</a>
                        <a asp-controller="Model" asp-action="Index" class="dropdown-item">Rainfall informations</a>
                    </div>
                </div>



                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Development</a>

                    <div class="dropdown-menu">
                        <a asp-controller="Make" asp-action="Index" class="dropdown-item">Farmer Organizations</a>
                        <a asp-controller="Model" asp-action="Index" class="dropdown-item">FO Members with Positions</a>
                        <a asp-controller="Model" asp-action="Index" class="dropdown-item">Cultivation Season Informations</a>
                        <a href="#" class="dropdown-item">Drafts</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Photo Gallery</a>

                <div class="dropdown-menu">
                    <a asp-controller="Make" asp-action="Index" class="dropdown-item">View Photo Library</a>
                    <a asp-controller="Model" asp-action="Index" class="dropdown-item">Add photoes to Library</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                </div>
            </div>

                <a href="#" class="nav-item nav-link">About</a>

            </div>
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </nav>


    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
