@model EmployeeVM
@{
    ViewData["Title"] = "Edit Employee";
}


<br />

<h3 class="text-info">Edit Employee</h3>


<form asp-controller="Employee" asp-action="Create" method="post">
    <div class="text-right">
        <input type="submit" class="btn btn-success" value="Save Employee" />
    </div>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Main Informations</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Personal</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">File Attachments</a>
        </div>
    </nav>



    <div class="tab-content" id="nav-tabContent">


        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <br />            

                <div class="m-3">

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="NameWithInitial" class="form-label">Name With Initials</label>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="NameWithInitial" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="EmpNumber" class="form-label">Emp Number</label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="EmpNumber" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="PersonalFileNumber" class="form-label">Personal File Number</label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="PersonalFileNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="Nic" class="form-label">NIC Number</label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="Nic" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="EmployeePositionId" class="form-label"></label>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="EmployeePositionId" class="form-control" asp-items="ViewBag.Positions">
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="AppointmentDate" class="form-label">Appointment Date</label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="AppointmentDate" class="form-control" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="ClassMnGrade" class="form-label"></label>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="ClassMnGrade" class="form-control"
                                    asp-items="@Html.GetEnumSelectList<ClassMnGrade>()">
                                <option>Plz Select</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="DateOfBirth" class="form-label">Date Of Birth</label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="DateOfBirth" class="form-control" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="Gender" class="form-label"></label>
                        </div>
                        <div class="col-md-4">
                            <select asp-for="Gender" class="form-control"
                                    asp-items="@Html.GetEnumSelectList<Gender>()">
                                <option>Plz Select</option>
                            </select>
                        </div>
                    </div>

                    <br />
                </div>




           
        </div>




        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <br />

            <div class="m-3">

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="SurName" class="form-label">SurName</label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="SurName" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="FullName" class="form-label">FullName</label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="FullName" class="form-control" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Address" class="form-label">Address</label>
                    </div>
                    <div class="col-md-6">
                        <textarea asp-for="Address" class="form-control" rows="4"></textarea>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="CivilStatus" class="form-label"></label>
                    </div>
                    <div class="col-md-4">
                        <select asp-for="CivilStatus" class="form-control"
                                asp-items="@Html.GetEnumSelectList<CivilStatus>()">
                            <option>Plz Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="BasicSalary" class="form-label">Basic Salary</label>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="BasicSalary" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="ContactNumber1" class="form-label">ContactNumber</label>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="ContactNumber1" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Email" class="form-label">Email</label>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>

                <br />

            </div>
        </div>


        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="m-3">
                No any Content Here...
            </div>
        </div>



    </div>
</form>



<script type="text/javascript">
        //$(function () {
        //    $('#DateOfBirth').datepicker({
        //        format: "dd/mm/yyyy"
        //    });
        //});

</script>





