
@page "/EmployeeDetails/{EmpNumber}"

<h3 class="text-info">Employee details</h3>

<div class="form-group row">
    <label class="col-sm-4 col-form-label">Emp Number</label>
    <div class="col-sm-8">
        <label type="text" readonly class="form-control-plaintext">@Employee.EmpNumber</label>
    </div>
</div>


<div>

</div>
