



<div class="form-group">
    <label asp-for="DatoString">Dato</label>
    <input asp-for="DatoString" class="form-control" placeholder="Date for the meeting" id="datepicker">
    <span asp-validation-for="DatoString" class="text-danger"></span>
</div>