
@{
    ViewData["Title"] = "Index";
}

<h3>Employee  - Index</h3>


<h4>EmployeeGetById</h4>
<label>EmployeeId</label>
<input type="text" id="EmpId" />
<br />
<label>Employee Name</label>
<input type="text" id="EmpName" />
<br />
<label>Employee Address</label>
<input type="text" id="EmpAddress" />
<br />
<button type="button" id="EmpSearch">Search</button>


<script src="~/lib/jquery/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#EmpSearch").click(function () {

            var empId = $("#EmpId").val();

            //clear before load
            $("#EmpName").val("");
            $("#EmpAddress").val("");

            $.ajax({

                method: "GET",
                url: "/Employee/GetEmployeeById",
                data: { id: empId },
                success: function (response) {

                    //console.log(response);                     
                    //console.log("Name :" + response.Name);
                    //console.log("Address :" + response.Address);                   

                    $("#EmpName").val(response.Name);
                    $("#EmpAddress").val(response.Address);

                },
                error: function (response) {
                    alert(response.responseText);
                }
            });


        });
    });

</script>

@*//data: {number1: val1, number2: val2, number3: val3},*@