
@{
    ViewData["Title"] = "Index";
}


@*<partial name="_Carousel" />*@



@*<form asp-controller="Home" asp-action="Test" method="post">
    <input type="submit" value="Submit" />
</form>*@



@*<script>

    $('.carousel').carousel()

</script>*@