@model EmployeeLeaveVM
@{
    ViewData["Title"] = "Create";
}

<br />

<h3 class="text-info">Updating - Employee Leave</h3>

<br />
<br />

<div>


    <form id="leaveForm" asp-controller="Leave" asp-action="Create" method="post">

        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="PositionId" class="col-form-label">Employee Position</label>
            </div>
            <div class="col-md-4">
                <select asp-for="PositionId" asp-items="@Model.EmployeePositions" class="form-control">
                    <option value="">Select Position</option>
                </select>
            </div>

        </div>


        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="EmployeeId" class="col-form-label">Employee Name</label>
            </div>
            <div class="col-md-4">
                <select asp-for="EmployeeId" asp-items="@Model.Employees" class="form-control"></select>
            </div>
            <span class="text-danger" asp-validation-for="EmployeeId"></span>
        </div>



        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="LeaveType" class="form-label">Leave Type</label>
            </div>
            <div class="col-md-4">
                <select asp-for="LeaveType" class="form-control"
                        asp-items="@Html.GetEnumSelectList<LeaveType>()">
                    <option value="">Plz Select</option>
                </select>
            </div>
            <span class="text-danger" asp-validation-for="LeaveType"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="HalfFullLeaveType" class="form-label">Half Day / Full Day</label>
            </div>
            <div class="col-md-4">
                <select asp-for="HalfFullLeaveType" class="form-control"
                        asp-items="@Html.GetEnumSelectList<HalfFullLeaveType>()">
                    <option value="">Plz Select</option>
                </select>
            </div>
            <span class="text-danger" asp-validation-for="HalfFullLeaveType"></span>
        </div>


        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="LeaveDate" class="form-label">Leave Date</label>
            </div>
            <div class="col-md-4">
                <input asp-for="LeaveDate" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="LeaveDate"></span>

            <button type="button" id="AddToListLeave" class="btn btn-info">Add To List</button>
            <button type="button" id="Update" class="btn btn-success ml-1">Update</button>
        </div>



    </form>



    <div class="table-responsive border">
        <table class="table">
            <thead>
                <tr class="table-info">
                    <th>Name With Initials</th>
                    <th>Leave Type</th>
                    <th>Full/Half Day</th>
                    <th>Leave Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="leaveTableBody">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


    <br />
    <br />

    <div><img src="~/images/loader.gif" id="loader" height="75" width="75" style="display:none;" /></div>

    <div id="tblUpdatedRecord">

    </div>




</div>



<script>


    $(document).ready(function () {

        //insert default item "Select" in dropdownlist on load
        var items = "<option value=''>Select Employee</option>";
        $("#EmployeeId").html(items);

        //Get employees by positionId
        $("#PositionId").change(function () {

            var positionIdSelected = $("#PositionId").val();

            //--WORKED
            var url = "/Leave/GetEmployeesByPositionId";
            $.getJSON(url, { PositionId: positionIdSelected }, function (data) {

                var items = "";
                $("#EmployeeId").empty();

                items = "<option value=''>Select Employee</option>";

                $.each(data, function (i, employee) {
                    items += "<option value='" + employee.EmployeeId + "'>" + employee.NameWithInitial + "</option>";
                });

                $("#EmployeeId").html(items);
            });
        });






        $("#AddToListLeave").click(function () {

            if (!$("#leaveForm").valid()) {

                alert("Please Fill All the Required Fields.. ");
                return false;
            }
            else
            {

                var leaveFormData = $("#leaveForm").serialize();

                $.ajax({

                    method: "POST",
                    url: "/Leave/AddToListLeave",
                    data: leaveFormData,
                    success: function (response) {

                        $("#leaveTableBody").html(response);
                        //console.log(laveFormData);
                    }
                })
            }

        })






        $("#Update").click(function () {

            $.ajax({

                method: "Get",
                url: "/Leave/Update",
                success: function (response) {

                    //if (response.status = "EmptyList") {

                    //    alert("Nothing to update..Plz Add Leave records to List before update..");
                    //}
                    //else {
                        $("#leaveTableBody").html(response);
                        alert("Leave Records are successfully Updated");
                    //}
                }
            })
        })





    })


    @*$(document).ready(function () {


        //$("#WarterLevelAtSluice").val('');
        //$("#GateOpenedSize").val('');

        $("#btnAddToList").click(function () {


            //$("#loader").show();

            var myFormData = $("#myForm").serialize();

            $.ajax({

                method: "POST",
                url: "/WaterIssue/Create",
                data: myFormData,
                success: function (response) {
                    //console.log(response);
                    $("#tblUpdatedRecord").html(response);

                    $("#loader").hide();

                    alert('WaterIssue Record Updated successfully..');
                }
            })

        })




    })*@
</script>