@model EmployeeLeaveVM
@{
    ViewData["Title"] = "Create";
}

<br />

<h3 class="text-info">Search Employee Leaves</h3>

<br />
<br />

<div>


    <form id="SearchLeaveForm" asp-controller="Leave" asp-action="Create" method="post">

        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="PositionId" class="col-form-label">Employee Position</label>
            </div>
            <div class="col-md-4">
                <select asp-for="PositionId" asp-items="@Model.EmployeePositions" class="form-control">
                    <option value="">Select Position</option>
                </select>
            </div>

        </div>


        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="EmployeeId" class="col-form-label">Employee Name</label>
            </div>
            <div class="col-md-4">
                <select asp-for="EmployeeId" asp-items="@Model.Employees" class="form-control"></select>
            </div>
            <span class="text-danger" asp-validation-for="EmployeeId"></span>
        </div>

        <div>
            <button type="button" id="Search" class="btn btn-success">Search</button>
        </div>

    </form>


    <br />


    <div class="table-responsive border">
        <table class="table">
            <thead>
                <tr class="table-info">
                    <th>Name With Initials</th>
                    <th>Leave Type</th>
                    <th>Full/Half Day</th>
                    <th>Leave Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="leaveTableBody">
                <tr>
                    <td>No Any Records to display</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


    <br />
    <br />

    <div><img src="~/images/loader.gif" id="loader" height="75" width="75" style="display:none;" /></div>

    <div id="tblUpdatedRecord">

    </div>




</div>



<script>


    $(document).ready(function () {

        //insert default item "Select" in dropdownlist on load
        var items = "<option value=''>Select Employee</option>";
        $("#EmployeeId").html(items);

        //Get employees by positionId
        $("#PositionId").change(function () {

            var positionIdSelected = $("#PositionId").val();

            //--WORKED
            var url = "/Leave/GetEmployeesByPositionId";
            $.getJSON(url, { PositionId: positionIdSelected }, function (data) {

                var items = "";
                $("#EmployeeId").empty();

                items = "<option value=''>Select Employee</option>";

                $.each(data, function (i, employee) {
                    items += "<option value='" + employee.EmployeeId + "'>" + employee.NameWithInitial + "</option>";
                });

                $("#EmployeeId").html(items);
            });
        });






        $("#Search").click(function () {

            if (!$("#SearchLeaveForm").valid()) {

                alert("Please Fill All the Required Fields.. ");
                return false;
            }
            else
            {

                var employeeId = $("#EmployeeId").val();

                $.ajax({

                    method: "GET",
                    url: "/Leave/SearchEmployeeLeavesByEmployeeId",
                    data: { EmployeeId: employeeId },
                    success: function (response) {

                        $("#leaveTableBody").html(response);
                        //console.log(laveFormData);
                    }
                })
            }

        })











    })


    @*$(document).ready(function () {


        //$("#WarterLevelAtSluice").val('');
        //$("#GateOpenedSize").val('');

        $("#btnAddToList").click(function () {


            //$("#loader").show();

            var myFormData = $("#myForm").serialize();

            $.ajax({

                method: "POST",
                url: "/WaterIssue/Create",
                data: myFormData,
                success: function (response) {
                    //console.log(response);
                    $("#tblUpdatedRecord").html(response);

                    $("#loader").hide();

                    alert('WaterIssue Record Updated successfully..');
                }
            })

        })




    })*@
</script>